In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_apple_stock.csv')

df

         AAPL_x      AAPL_y
0    2014-01-02   77.445395
1    2014-01-03   77.045575
2    2014-01-06   74.896972
3    2014-01-07   75.856461
4    2014-01-08   75.091947
..          ...         ...
235  2014-12-08  113.653345
236  2014-12-09  109.755497
237  2014-12-10  113.960331
238  2014-12-11  111.817477
239  2014-12-12  110.027139

[240 rows x 2 columns]